<!DOCTYPE html>
{% load static %}
<html lang="en" dir='rtl'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/swiper-bundle.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font/font.css' %}">
    {% block title %}{% endblock title %}
</head>
<body class="font-YekanBakh-Regular text-sm bg-[#f5f1e4]">
    {% include "components/header.html" %}
    {% block content %}{% endblock content %}
    {% include "components/footer.html" %}
    
    <script src="{% static "js/swiper-bundle.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>