{% extends "base/base.html" %}

{% block title %}
    <title>ورود به حساب</title>
{% endblock title %}

{% block content %}
    <div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-sm sm:mx-auto">
          <div
            class="absolute inset-0 bg-stone-900 transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
          </div>
          {% comment %} {% for login in form %} {% endcomment %}
            <div class="relative px-4 py-10 bg-gradient-to-t from-orange-100 to-[#f5f1e4] sm:rounded-3xl sm:p-14">
        
              <div class="max-w-md mx-auto">
                <div>
                  <h1 class="text-xl text-center font-YekanBakh-Bold">ورود به حساب کاربری</h1>
                </div>
                <div class="divide-y divide-gray-200">
                  <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                      <input type="email" placeholder="شماره همراه : 09171234567" class="input w-full rounded-full focus:outline-none placeholder:text-sm" />
                      <input type="email" placeholder="رمز عبور:" class="input w-full rounded-full focus:outline-none placeholder:text-sm" />
                      <input type="submit" class="btn bg-stone-800 w-full hover:bg-stone-900 text-white rounded-full text-sm" value="ورود به حساب کاربری">
                      <p class="mt-6 text-xs text-gray-600 text-center leading-8">
                          رمز عبور خود را فراموش کرده اید؟ 
                          <a href="{% url "accounts:lost_password" %}" class="border-b border-gray-500 border-dotted">
                              کلیک کنید.
                          </a>
                          <br>
                          اگر اکانت ندارید
                          <a href="{% url "accounts:signup" %}" class="border-b border-gray-500 border-dotted">
                              ثبت نام کنید
                          </a>
                      </p>
                  </div>
                </div>
              </div>
        
            </div>
          {% comment %} {% endfor %} {% endcomment %}
        </div>
      </div>
{% endblock content %}