{% extends "base/base.html" %}

{% block title %}
    <title>ساخت حساب کاربری</title>
{% endblock title %}

{% block content %}
    <div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-sm sm:mx-auto">
          <div
            class="absolute inset-0 bg-stone-900 transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
          </div>
          <div class="relative px-4 py-10 bg-gradient-to-t from-orange-100 to-[#f5f1e4] sm:rounded-3xl sm:p-14">
      
            <div class="max-w-md mx-auto">
              <div>
                <h1 class="text-xl text-center font-YekanBakh-Bold">ثبت نام</h1>
              </div>
              <div class="divide-y divide-gray-200">
                <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                  <input type="text" placeholder="تلفن همراه:" class="input w-full rounded-full focus:outline-none placeholder:text-sm" />
                    <input type="password" placeholder="رمز عبور:" class="input w-full rounded-full focus:outline-none placeholder:text-sm" />
                    <button class="btn bg-stone-800 w-full hover:bg-stone-900 text-white rounded-full text-sm">ثبت نام</button>
                    <p class="mt-6 text-xs text-gray-600 text-center leading-8">
                        قبلا حساب کاربری ساخته اید؟
                        <a href="{% url "accounts:login" %}" class="border-b border-gray-500 border-dotted">
                            وارد شوید.
                        </a>
                    </p>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
{% endblock %}