{% extends "base/extends.html" %}
{% load static %}

{% block ex_content %}
<div class="flex justify-center relative mb-14">
    <h2 class="font-YekanBakh-ExtraBlack text-3xl">چرا از ما</h2>
    <div class="absolute -top-6">
        <span class="font-YekanBakh-ExtraBlack text-6xl text-opacity-10 text-stone-900">services</span>

    </div>
    <div class="bg-orange-200 w-20 h-1.5 rounded-full absolute top-10"></div>

</div>

    <section class="px-4 py-14 bg-gradient-to-t from-orange-100">
        <div class="container mx-auto max-w-screen-xl">

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                
                <div class="bg-white p-6 rounded-3xl leading-8 transform hover:-translate-y-1 duration-300 transition-transform cursor-pointer">
                    <div class="w-16 mb-4">
                        <img src="{% static "images/15.png" %}" alt="">  
                    </div>
                    
                    <div class="flex items-center mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M13.98 5.31999L10.77 8.52999L8.79999 10.49C7.96999 11.32 7.96999 12.67 8.79999 13.5L13.98 18.68C14.66 19.36 15.82 18.87 15.82 17.92V12.31V6.07999C15.82 5.11999 14.66 4.63999 13.98 5.31999Z" fill="#b9a158"/>
                        </svg>
                        
                        <a href="#">  <h2 class="font-YekanBakh-ExtraBold text-base mr-1">{{ s.title }}</h2></a>
                        
                    </div>
                    <div>
                        <p>{{ s.description }}</p>                          
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock ex_content %}
