{% extends "base/extends.html" %}

{% block ex_content %}

    <ul class="flex menu lg:menu-horizontal">
        <li><details>
            <summary><a href="#">دسته بندی ها</a></summary>
            <ul class="p-2 z-10 w-48 bg-[#f5f1e4] m-0">
            <li><a>انواع دسته بندی</a></li>
            <li>
                <details>
                <summary>زیر منوی اول</summary>
                <ul>
                    <li><a>آیتم شماره یک</a></li>
                </ul>
                </details>
            </li>
            </ul>
        </details></li>
        <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300" href="{% url "contact_us:faq" %}">سوالات متداول</a></li>
        <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300" href="{% url "blog:all_posts" %}">وبلاگ</a></li>
        <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300" href="{% url "contact_us:about_us" %}">درباره ما</a></li>
        <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300" href="{% url "contact_us:contact_us" %}">تماس با ما</a></li>
    </ul>

{% endblock ex_content %}