{% load static %}
<section class="px-4 static">
    <div class="container mx-auto max-w-screen-xl">
        <div class="flex justify-between items-center py-6">
          <div class="lg:hidden leading-none z-10">
            <div class="drawer">
                <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
                <div class="drawer-content">
                    <label for="my-drawer-4" class="swap swap-rotate drawer-button">

                      <!-- this hidden checkbox controls the state -->
                      <input type="checkbox" />
                      
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-black swap-off fill-current">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-black swap-on fill-current">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                        
                    </label> 
                  </div> 
                  <div class="drawer-side">
                    <label for="my-drawer-4" class="drawer-overlay"></label>
                  </div>
              </div>
        </div>
          <div class="flex items-center gap-8">
            <div>
                <a href="{% url "products:home" %}"><img src="{% static "images/logo_site.png" %}" alt="logo"></a>
            </div>
            <div class="hidden lg:block">
              {% comment %} TODO categories {% endcomment %}
              {% comment %} {% include "" %} {% endcomment %}
            </div>
          </div>
            <div class="border bg-stone-900 text-orange-200 hover:bg-orange-200 hover:text-stone-900 duration-300 rounded-full">
                <a href="{% url "accounts:login" %}" class="flex py-2.5 px-7 rounded-full font-YekanBakh-Regular">ورود | ثبت نام</a>
            </div>
    
        </div>
    </div>
</section>
